table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: center; /* Center align text within cells */
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

button {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 6px 12px;
  margin: 0 auto; /* Center align buttons horizontally */
  display: block;
}

button.on-button {
  background-color: #017bfe;
}

button.f2f-button {
  background-color: #14a2b8;
}

h2 {
  text-align: center; /* Center align the heading */
}

.location-text {
  margin-top: 5px;
  font-size: 14px;
  color: #888888;
}

.mymargin {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* or set to a specific height */
}

.pdf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px; /* Optional: to constrain the max width */
}
.on-button {
  background-color: #007bff; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  cursor: pointer; 
  font-size: 16px; 
  transition: background-color 0.3s ease; 
}

.on-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}